.about{
    display: flex;
    height: 100vh;
    align-content: center;
    color: white;
    font-family: 'Poiret One', cursive;
}

.imgcont{
    align-self: center;
    border-radius: 8px;
    margin-right: 100px;
    position: absolute;
    left: -100px;
    animation: image1 3s forwards;
    
}

img{
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

@media (max-width: 1210px){
  .imgcont {
    max-width: 400px;
  }
  img {
    max-width: 400px;
  }
}

@media (max-width: 1499px){
  .imgcont img{
    opacity: .4;
  }
}

@keyframes image1 {
    100%{
        left: 0;
    }
}

.aboutheader{
    font-size: 3rem;
    color: white;
    font-weight: lighter;
}

.contentcont{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    font-size: 1.4rem;
    margin: 0 auto;
}

@media(max-width: 1499px){
  .aboutheader, .contentcont{
    z-index: 5;
  }
}

.barcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    justify-content: center;
    z-index: 5;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    align-self: center;
    box-shadow: 10px 0 10px -5px rgb(28, 140, 177);
    position: absolute;
    left: 0;
}

@media (max-width: 1499px){
  .barcont{
    display: none;
  }
}

.bar1, .bar2, .bar3{
    height: 150px;
    width: 10px;
    border-radius: 5px;
    background-color: blue;
    margin: 20px 5px;
}

.grad-container3{
    display: flex;
    width: 400px;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 0;
}

.grad-container3 a {
    text-decoration: none;
    color: white;
    animation-name: navone-a;
    animation-duration: 3s;
}

.grad-bar-a1, .grad-bar-a5 {
  background: rgb(192, 6, 183);
  width: 185px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 50px;
  animation-name: navthree-a;
  animation-duration: 3s;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: end;
  padding-right: 20px;
  font-size: 2rem;
  align-self: flex-end;
  right: 0;
  cursor: pointer;
}

.grad-bar-a2, .grad-bar-a4 {
    background: rgb(192, 6, 183);
    width: 185px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50px;
    animation-name: navthree-a;
    animation-duration: 3s;
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: end;
    padding-right: 20px;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
  }

.grad-bar-a3 {
    background: rgb(192, 6, 183);
    width: 300px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50px;
    animation-name: navone-a;
    animation-duration: 3s;
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: end;
    padding-right: 20px;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

@media (max-width: 1499px){
  .grad-bar-a3{
    width: 185px;
  }
}

@keyframes navone-a{
    0%{
      width: 0%;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 300px;
      color: white;
    }
  }

@keyframes navtwo-a{
    0%{
      width: 0px;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 200px;
      color: white;
    }
  }
  
  @keyframes navthree-a{
    0%{
      width: 0px;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 185px;
      color: white;
    }
  }