.App{
  background: rgb(10,10,10);
}
section {
  height: 100vh;
  /* background-image: url('../src/images/smkwall.png'); */
  animation-name: opaque;
  animation-duration: 8s;
  
}


section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 255), rgb(191, 0, 255), rgb(255, 0, 64));
  pointer-events: none;
  mix-blend-mode: color;
}

.section1{
  background-image: url('../src/images/smkwall.png');
  animation-name: opaque;
  animation-delay: 7s ease-in;
}

.section{
  background-color: rgb(15,15,15);
}

video{
  object-fit: cover;
}
h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ddd;
  font-size: 5rem;
  font-family: sans-serif;
  letter-spacing: 0.2em;
  font-weight: lighter;
}

@media (max-width: 1484px){
  h1{
    font-size: 3rem;
  }
}
h1 span{
  font-family: 'Poiret One', cursive;
  text-shadow: 2px 2px rgb(191, 0, 255);
  text-shadow: 3px 3px black;
  display: inline-block;
  opacity: 0;
  animation: animate 2s linear forwards;
}

h2{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 400px;
  text-align: center;
  color: #ddd;
  font-size: 1.4em;
  font-family: sans-serif;
  letter-spacing: 0.2em;
  font-weight: lighter;
  left: 55%;
  font-family: 'Poiret One', cursive;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);

  }
  50%{
    opacity: .5;
    transform: rotateY(45deg);
    filter: blur(5px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}



@keyframes opaque{
  0%{
    background: black;
    background-image: none;
  }
  99.9%{
    background: black;
    background-image: none;
  }
  100%{
    opacity: 1;
    background-image: url('../src/images/smkwall.png');
    
  }
}

@keyframes opaque2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

h1 span:nth-child(1){
  animation-delay: .25s;
}

h1 span:nth-child(2){
  animation-delay: .5s;
}
h1 span:nth-child(3){
  animation-delay: .75s;
}
h1 span:nth-child(4){
  animation-delay: 1s;
}
h1 span:nth-child(5){
  animation-delay: 1.25s;
}
h1 span:nth-child(6){
  animation-delay: 1.5s;
}
h1 span:nth-child(7){
  animation-delay: 1.75s;
}
h1 span:nth-child(8){
  animation-delay: 2s;
}
h1 span:nth-child(9){
  animation-delay: 2.25s;
}
h1 span:nth-child(10){
  animation-delay: 2.5s;
}
h1 span:nth-child(11){
  animation-delay:2.75s;
}
h1 span:nth-child(12){
  animation-delay: 3s;
}
h1 span:nth-child(13){
  animation-delay: 3.25s;
}
h1 span:nth-child(14){
  animation-delay: 3.5s;
}
h1 span:nth-child(15){
  animation-delay: 3.75s;
}
h1 span:nth-child(16){
  animation-delay: 4s;
}
h1 span:nth-child(17){
  animation-delay: 4.25s;
}
h1 span:nth-child(18){
  animation-delay: 4.5s;
}

.grad-bar1{
  background: rgb(192, 6, 183);
  width: 400px;
  height: 40px;
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 30px;
  animation-name: navone;
  animation-duration: 3s;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
}

.grad-bar1 a {
  text-decoration: none;
  color: white;
  animation-name: navone;
  animation-duration: 3s;
  
}

.grad-bar2{
  background: rgb(192, 6, 183);
  width: 300px;
  height: 40px;
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 30px;
  animation-name: navone;
  animation-duration: 3s;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
}

.grad-bar2:hover {
  background: rgb(13, 116, 194);
}

.grad-bar2 a {
  text-decoration: none;
  color: white;
  animation-name: navone;
  animation-duration: 3s;
  
}

.grad-bar3{
  background: rgb(192, 6, 183);
  width: 200px;
  height: 40px;
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 50px;
  animation-name: navtwo;
  animation-duration: 3s;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
}

.grad-bar3:hover {
  background: rgb(13, 116, 194);
}

.grad-bar3 a {
  text-decoration: none;
  color: white;
  animation-name: navone;
  animation-duration: 3s;
  
}


.grad-container1{
  display: flex;
  width: 400px;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 25%;
}

@media (max-width: 1499px){
  .grad-container1{
    top: 2%;
    flex-direction: row;
    width: 80%;
  }
}

.grad-bar4{
  background: rgb(192, 6, 183);
  width: 185px;
  height: 40px;
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 50px;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
  animation-name: navthree;
  animation-duration: 3s;
  cursor: pointer;
}

.grad-bar4:hover {
  background: rgb(13, 116, 194);
}

.grad-bar4 a {
  text-decoration: none;
  color: white;
  animation-name: navone;
  animation-duration: 3s;
  
}


@keyframes navone {
  0%{
    width: 0%;
    color: rgba(0,0,0,0)
  }
  50%{
    color:rgba(0,0,0,0)
  }
  75%{
    color:rgba(0,0,0,0);
  }
  100%{
    width: 300px;
    color: white;
  }
}

@keyframes navtwo{
  0%{
    width: 0px;
    color: rgba(0,0,0,0)
  }
  50%{
    color:rgba(0,0,0,0)
  }
  75%{
    color:rgba(0,0,0,0);
  }
  100%{
    width: 200px;
    color: white;
  }
}

@keyframes navthree{
  0%{
    width: 0px;
    color: rgba(0,0,0,0)
  }
  50%{
    color:rgba(0,0,0,0)
  }
  75%{
    color:rgba(0,0,0,0);
  }
  100%{
    width: 185px;
    color: white;
  }
}

.grad-bar5{
  background: rgb(192, 6, 183);
  width: 200px;
  height: 40px;
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 50px;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
  animation-name: navtwo;
  animation-duration: 3s;
 
}

.grad-bar5:hover {
  background: rgb(13, 116, 194);
}

.grad-bar5 a {
  text-decoration: none;
  color: white;
  animation-name: navone;
  animation-duration: 3s;
  
}

.grad-bar6{
  background: rgb(192, 6, 183);
  width: 300px;
  height: 40px;
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 50px;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
  animation-name: navone;
  animation-duration: 3s;
  
}

.grad-bar6:hover {
  background: rgb(13, 116, 194);
}

.grad-bar6 a {
  text-decoration: none;
  color: white;
  animation-name: navone;
  animation-duration: 3s;
  
}

@media (max-width: 1499px){
  .grad-bar1,.grad-bar2,.grad-bar3,
  .grad-bar4, .grad-bar5, .grad-bar6{
    font-size: 1.5rem;
    background: none;
    width: 150px;
    margin-top: 0;
    text-align: center;
  }
  .grad-bar1:hover,.grad-bar2:hover,.grad-bar3:hover,
  .grad-bar4:hover, .grad-bar5:hover, .grad-bar6:hover{
    background: none;
  }
}

/* .grad-container2{
  width: 100px;
  right: 0;
  height: 600px;
  bottom: 0;
  position: absolute;
} */

.scrolldown{
  transform: rotate(90deg);
  /* transform-origin: bottom right; */
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  bottom: 27%;
  position: absolute;
  right: -10%;
  margin: 0;
  animation-name: scrolltext;
  animation-duration: 3s;
}

@media (max-width: 1400px){
  .scrolldown{
    display: none;
  }
}

.scrolldown:after {
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 300px;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid white;
}

.scrolldown-cont{
  justify-self: flex-end;
  bottom: 0;
}

@keyframes scrolltext {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.social{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -100px;
  margin-right: 10px;
  margin-top: 20px;
  animation: slide 3s forwards;
}

@keyframes slide {
  100% { right: 0; }
}

.github{
  background-image: url('../src/images/github.png');
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.github:hover{
  background-image: url('../src/images/githubhover.png');
}

.linkedin{
  background-image: url('../src/images/linkedin.png');
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.linkedin:hover{
  background-image: url('../src/images/linkedinhover.png');
}

.insta{
  background-image: url('../src/images/instagram.png');
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.insta:hover{
  background-image: url('../src/images/instagramhover.png');
}