
.projects1, .projects2{
    display: flex;
    justify-content: center;
    max-height: 800px;
    padding-right: 200px;
    
}
@media(max-width: 1300px){
     .projects1, .projects2{
       padding-right: 100px;
       height: 500px;
       padding-top: 150px;
     } 
}

.project-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.palette-container{
  background-image: url('./images/palette-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.mappajob-container{
  background-image: url('./images/mappajob-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.palette, .mappajob{
    max-width: 1000px;
    max-height: 700px;
    height: 100%;
    color: white;
    width: 100%;
    position: relative;
}

.palette img {
    width: 1000px;
}

.palette .overlay, .mappajob .overlay {
    position: absolute;
    right:-20%;
    bottom: -30%;
    width: 330px;
    height: 100px;
    padding-top: 1%;
    font-size: 10rem;
    font-weight: 100;
    font-weight: bolder;
    color: white;
}

.palette .enter-btn, .mappajob .enter-btn{
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 75px;
  height: 75px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: rgb(192, 6, 183);
  z-index: 25;
  border-radius: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.palette .enter-btn:hover, .mappajob .enter-btn:hover{
  transition: width 1s;
  width: 200px;
}


@media(max-width: 1300px){
  .palette .overlay, .mappajob .overlay{
    bottom: -5%;
  }
}

.mappajob img {
    width: 1000px;
}

@media (max-width: 1499px){
    .projects{
        margin-right: 200px;
    }
    .project-container{
        max-width: 800px;
    }
    .palette, .mappajob{
        max-width: 800px;
    }
    .palette img{
        width: 800px;
    }
    .mappajob img{
      width: 800px;
    }
}

@media (max-width: 1210px){
  .projects{
      margin-right: 200px;
  }
  .project-container{
      max-width: 800px;
      width: 100%;
  }
  .palette, .mappajob{
      max-width: 800px;
      width: 100%;
  }

  .palette img{
    max-width: 800px;
    width: 100%;
    height: auto;
  }

  .mappajob img{
    max-width: 800px;
    width: 100%;
    height: auto;
  }
}

.grad-container5{
    display: flex;
    width: 400px;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 0;
}

.grad-container5 a {
    text-decoration: none;
    color: white;
    animation-name: navone-s;
    animation-duration: 3s;
}

@media (max-width: 1100px){
  .grad-container5{
    top: 0;
    flex-direction: row;
    width: 100%;
    animation-name: none;
  }
}

.grad-bar-p4 {
  background: rgb(13, 116, 194);
  width: 200px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 50px;
  animation-name: navone-s;
  animation-duration: 3s;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: end;
  padding-right: 20px;
  font-size: 2rem;
  align-self: flex-end;
  right: 0;
  cursor: pointer;
}

/* @media (max-width: 1700px){
  .grad-bar-s2{
    width: 185px;
    background: rgb(13, 116, 194);
  }
} */


.grad-bar-p3, .grad-bar-p1, .grad-bar-p2, .grad-bar-p5 {
    background: rgb(192, 6, 183);
    width: 185px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50px;
    animation-name: navthree-s;
    animation-duration: 3s;
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: end;
    padding-right: 20px;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

@keyframes navone-s{
    0%{
      width: 0%;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 200px;
      color: white;
    }
  }

@keyframes navtwo-s{
    0%{
      width: 0px;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 200px;
      color: white;
    }
  }
  
  @keyframes navthree-s{
    0%{
      width: 0px;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 185px;
      color: white;
    }
  }

  @media (max-width: 1100px){
    .grad-bar-p1,.grad-bar-p2,.grad-bar-p3,
    .grad-bar-p4, .grad-bar-p5, .grad-bar-p6{
      font-size: 1.5rem;
      background: none;
      width: 150px;
      margin-top: 0;
      text-align: center;
      animation-name: none;
    }
    .grad-bar-p1:hover,.grad-bar-p2:hover,.grad-bar-p3:hover,
    .grad-bar-p4:hover, .grad-bar-p5:hover, .grad-bar-p6:hover{
      background: none;
    }
  }