
.projects{
    display: flex;
    justify-content: center;
}


.project-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.palette, .mappajob{
    max-width: 1000px;
    background-color: rgb(40,40,40);
    max-height: 450px;
    height: 100%;
    color: white;
    width: 100%;
}

.palette img {
    width: 1000px;
}

.mappajob img {
    width: 500px;
}

@media (max-width: 1499px){
    .projects{
        margin-right: 200px;
    }
    .project-container{
        max-width: 600px;
    }
    .palette, .mappajob{
        max-width: 600px;
    }
    .palette img{
        width: 600px;
    }
}