.skills{
    display: flex;
    height: 100vh;
    align-content: center;
    color: white;
    font-family: 'Poiret One', cursive;
}

.grad-container4{
    display: flex;
    width: 400px;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 0;
}

.grad-container4 a {
    text-decoration: none;
    color: white;
    animation-name: navone-s;
    animation-duration: 3s;
}

.grad-bar-s2 {
  background: rgb(192, 6, 183);
  width: 300px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 50px;
  animation-name: navone-s;
  animation-duration: 3s;
  color: white;
  font-family: 'Poiret One', cursive;
  text-align: end;
  padding-right: 20px;
  font-size: 2rem;
  align-self: flex-end;
  right: 0;
  cursor: pointer;
}

@media (max-width: 1499px){
  .grad-bar-s2{
    width: 185px;

  }
}

/* .grad-bar-s2, .grad-bar-s4 {
    background: rgb(192, 6, 183);
    width: 200px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50px;
    animation-name: navtwo-s;
    animation-duration: 3s;
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: end;
    padding-right: 20px;
    font-size: 2rem;
    align-self: flex-end;
  } */

.grad-bar-s3, .grad-bar-s1, .grad-bar-s4, .grad-bar-s5 {
    background: rgb(192, 6, 183);
    width: 185px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50px;
    animation-name: navthree-s;
    animation-duration: 3s;
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: end;
    padding-right: 20px;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

@keyframes navone-s{
    0%{
      width: 0%;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 300px;
      color: white;
    }
  }

@keyframes navtwo-s{
    0%{
      width: 0px;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 200px;
      color: white;
    }
  }
  
  @keyframes navthree-s{
    0%{
      width: 0px;
      color: rgba(0,0,0,0)
    }
    50%{
      color:rgba(0,0,0,0)
    }
    75%{
      color:rgba(0,0,0,0);
    }
    100%{
      width: 185px;
      color: white;
    }
  }

.img-cont{
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    padding-right: 20%;
}


.img-cont img {
    width: 150px;
}

@media (max-width: 1580px){
  .img-cont{
    padding-left: 10%;
    margin-top: 50px;
    max-width: 900px;
  }
  .img-cont img{
    width: 100px;
    height: 100px;
  }
}

.img-div-1, .img-div-2, .img-div-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: 50px;
}

@media (max-width: 1499px){
  .img-div-1, .img-div-2, .img-div-3{
    width: 80%;
    height: 100px;
  }
}

/* .barcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    justify-content: center;
    z-index: 5;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    align-self: center;
    box-shadow: 10px 0 10px -5px rgb(28, 140, 177);
    position: absolute;
    left: 0;
}

.bar1, .bar2, .bar3{
    height: 150px;
    width: 10px;
    border-radius: 5px;
    background-color: blue;
    margin: 20px 5px;
} */